{
    "check-coverage": true,
    "lines": 40,
    "statements": 40,
    "functions": 40,
    "branches": 20,
    "extension": [
        ".ts"
    ],
    "exclude": [
        "**/*.spec.ts",
    ],
    "include": [
        "src/**/*.ts"
    ],
    "reporter": [
        "lcov",
        "text-summary"
    ],
    "all": true
}